

body{
    background-image: url("../images/concrete-texture.png");
    color:beige;
    font-family:Mina, sans-serif;
    margin:0 auto;
    margin-bottom:100px;
   


}

#masterheader{
    position: fixed;
    z-index: 99;
    width: 100%;
    overflow: auto;
    color:beige;
    background:rgb(66, 66, 66);
    border-bottom: 2px solid beige;
    top:0px;
    
}

#index-container{
    background-color:rgb(177, 202, 168);
    max-width:960px;
    margin:0 auto;
    margin-top:200px;
   
    box-shadow: 10px;
  
}

#portfolio-container{
    background-color:rgb(177, 202, 168);
    max-width:960px;
    margin:0 auto;
    margin-top:200px;
 
}


#myname{
    float: left;
    width:400px;
    height:90px;
    font-size: 32pt;
    text-shadow: 5px 5px 10px grey;
    background:rgb(66, 66, 66);
    text-decoration: none;
    color:beige;
    

}


h1{
    border-bottom:2px dotted white;
    text-shadow: grey 2px 2px 2px;
    padding:15px;

}




.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

  #header-container{
    width: 100%;
    max-width: 960px;
    margin:0 auto;
    padding-top:50px;


  }


nav{
    float:right;
    margin-top:25px;
}

nav a{
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color:beige;
  text-decoration: none;
  border-left: 1px solid beige;
}

nav a:first-child {
    border-left: 0 none;
  }



nav a:hover{
    color:black;
 

}
.active {
    color:beige;
}

a :link{
    color:none;
}


.aboutcontainer div{
    border:1px dotted rgb(75, 72, 72);
    background-color:beige;
    margin-top: 50px;
    flex-wrap:wrap;
    color:rgb(66, 66, 66)
}

.aboutcontainer{
    display:flex;
    flex-direction: row;
    
}


.boxone{
    width:50%;
    order:1;
    margin-right:25px;
    text-align: center;
    padding:15px;
    margin-left:25px;
}
   


.boxtwo{
    width:50%;
    order:2;
    margin-left:25px;
    flex-wrap: wrap;
    text-align: center;
    padding:15px;
    margin-right:25px;
}
    
.boxtwo h3{
    text-shadow: gray 2px 2px 2px;
}
.boxone h3{
    text-shadow: gray 2px 2px 2px;
}



footer{
    position:absolute;
    width:100%;
    clear: both;
    background-color:grey;
    padding-bottom:35px;
    padding-top:25px;
    text-align:center;
    margin-bottom:0;
   
    
}




::-webkit-scrollbar {
    width: 14px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 50px;
}


::-webkit-scrollbar-thumb {
    background:grey; 
    border-radius: 50px;
}
/* this doesnt seem to work in firefox, but does in google chrome, will look into that later */


#me{
    float: left;
    width: 200px;
    height:auto;
    border:1px dotted rgb(63, 63, 63);
    box-shadow:5px 5px 5px rgb(12, 12, 12);
    float: left;
    margin-top: 10px;
    margin-right:25px;
    margin-left:25px;

}

 .indexpara p{
   margin-right:60px;
   margin-left:60px;
   padding:15px;
   text-indent:35px;
   line-height:30px;
}
    





    /*Styling contact page*/


#contact-form{
    margin-left:20px;
}

[type=text], select, text area{
    width: 80%; 
    padding: 6px; 
    border: 1px solid rgb(226, 226, 213);
    border-radius: 8px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
   resize: none;
   position: auto;
   left:200px;
}





input[type=submit] {
    background-color:rgb(51, 50, 50);
    color: beige;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:Mina, sans-serif;
    font-weight:bolder;
    letter-spacing: 4px;
    margin-top:30px;
    margin-bottom:30px;

}

input[type=submit]:hover {
    background-color:rgb(92, 92, 92);
}

#subject{
         max-height:200px;
         overflow-wrap: normal;
         margin-left:45px;
         border-radius: 2%;
         border:ridge beige 2px;
         box-shadow: beige 2px 2px 2px 2px ;
         
        
     }

#lname{
    margin-left:20px;
}

#fname{
    margin-left:20px;
}

.container{
    margin-left:20px;
   

}


    
#connect{
    text-align: center;
    border-bottom: 2px black dotted;
    padding-bottom:10px;
}


    
.social img{
    border:1px solid beige;
    border-radius:100%;
    height:40px;
    margin:10px;
 
}





.social{
    border:black dotted 1px;
    max-width:960px;
    margin:0 auto;
    color:grey;
    margin-top:10px;
    background-color:white;
    margin-bottom:20px;

}



 .social img:hover{
    opacity: .8;
        
 }
 /* changes the opacity of the icons when they're hovered over*/




/*styling portfolio page*/

.maingallery{
    margin-left:55px;
}

div.descrip{
    background-color:black;
    font-size: 8pt;
    text-align: center;
    margin-top:-8px;


  
}

div.gallery {
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    
}

div.gallery:hover {
    border: 2px solid beige;
}

div.gallery img {
    width: 100%;
    height: 100%;
    
}
/*images are being told to take up 100% of the container, which is 180px */


.alaska img{
    width:200px;
    height:200px;
    padding:10px;
    margin-left:12px;

}
.pr img{
width:200px;
height:200px;
padding:10px;
margin-left:12px;

}

.nyc img{
    width:200px;
    height:200px;
    padding:10px;
    margin-left:12px;

}

a{
    text-decoration: none;
}


/* MEDIA QUERIES*/

@media screen and (max-width: 640px){
   
   
   
    #masterheader{
        position:static;
       
        
    }

    #portfolio-container{
        margin:0 auto;
        width:90%;
        
    }

    .gallery{
        margin-left:0;
        margin-right:0;
    }

    #index-container{
        margin:0 auto;
        width:90%;
        
        
    }



    #footercontainer{
        position:static;
    }

    nav {
        width:100%;
        display:inline-block;
        background-color:white;
        color:black;
        text-align: center;
       
    }

    #myname{
        width:100%;
        text-align: center;
        height:25%;
        font-size:28px;
        

    }

 
    #connect{
        text-align:left;
        margin-left:20px;
        margin-right:20px;
    }
  
    .social img{
        margin-left:20px;
    }

    .social{
        width:90%;
    }

    #messagebox{
        
    }
    #subject{
      
        word-wrap: normal;
    }




    #me{
      width: 85%;
      float: none;
       
       
        
    }

    .indexpara p{
        margin-right:0px;
        margin-left:0px;
        padding:15px;
        text-indent:35px;
        line-height:30px;
     }
         


}



@media screen and (max-width: 768px){
   
   
   
   
    #masterheader{
        margin:0 auto;
        overflow: hidden;
        
       
        
    }

    #portfolio-container{
        margin:0 auto;
        width:90%;
        
    }

    .gallery{
        margin-left:0;
        margin-right:0;
    }

    #index-container{
       
        width:90%;
        
        
    }



    #footercontainer{
        
    }

    nav {
       

       
    }

    #myname{
        margin-left:20px;
    
        

    }

 
    #connect{
        text-align:left;
        margin-left:20px;
        margin-right:20px;
    }
  
    .social img{
        margin-left:20px;
    }

    .social{
        width:90%;
    }

    
    #subject{
      
        word-wrap: normal;
        margin-right:10px;
    }



    #me{
      width: 85%;
      float: none;
       
       
        
    }

    .indexpara p{
        margin-right:0px;
        margin-left:0px;
        padding:15px;
        text-indent:35px;
        line-height:30px;
     }
         


}
        
        